<form class="flex" (submit)="submitHandler($event)">
  <div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your first name</mat-label>
        <input
          matInput
          name="firstname"
          type="text"
          [(ngModel)]="firstName"
          required
        />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your last name</mat-label>
        <input
          matInput
          name="lastname"
          type="text"
          [(ngModel)]="lastName"
          required
        />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          name="email"
          type="email"
          [(ngModel)]="email"
          required
        />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          name="password"
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-button type="submit">Signup</button>
    <p>
      Already have an account?
      <span
        class="grey cursor-pointer"
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Login</span
      >
    </p>
  </div>
</form>
