<h2 *ngIf="!getCartHandler().length" class="center">Your cart is empty</h2>
<div class="flex-center">
  <button
    *ngIf="getCartHandler().length"
    (click)="emptyCartHandler()"
    mat-button
  >
    Empty cart
  </button>
</div>
<div *ngFor="let product of getCartHandler()">
  <app-cart-product [product]="product"></app-cart-product>
</div>
<div class="flex-center p-bottom">
  <button
    *ngIf="getCartHandler().length"
    (click)="emptyCartHandler()"
    mat-button
  >
    Checkout
  </button>
</div>
