<h2 class="center">Your cart is empty right now</h2>
<div *ngFor="let product of cartProducts">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="card-title">{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ product.imageUrl }}" alt="product image" />
    <mat-card-content>
      <p>
        {{ product.price }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="removeFromCartHandler()" mat-button>
        Remove from cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
